html {
  font-size: 15px;
}

body {
  margin: 5 auto;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 150%;
}

h1 {
  text-align: center;
  font-weight:bold
}

h3 {
  text-align: center;
  font-weight:bold
}

label {
  font-weight: bold;
  margin-right: .6em;
}

select {
  font-size: inherit;
  border: 1px solid;
}

input[type=checkbox] {
  width: 1.3em;
  height: 1.3em;
}